[submodule "provisioners/shell"]
	path = provisioners/shell
	url = https://github.com/iszak/shell.git
[submodule "provisioners/puppet"]
	path = provisioners/puppet
	url = https://github.com/iszak/puppet.git
